<div class="feedback-container">
<a href="https://rochester.libwizard.com/f/discoverurfeedbackstaff?&5505139=Sibley%20NDE" class="prm-search-bar-feedback-link md-primoExplore-theme" target="_blank">
  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
            <path id="Path_1" data-name="Path 1" d="M0,0H24V24H0Z" fill="none"/>
            <path id="Path_2" data-name="Path 2" d="M15,4v7H5.17l-.59.59L4,12.17V4H15m1-2H3A1,1,0,0,0,2,3V17l4-4H16a1,1,0,0,0,1-1V3A1,1,0,0,0,16,2Zm5,4H19v9H6v2a1,1,0,0,0,1,1H18l4,4V7A1,1,0,0,0,21,6Z" fill="#fff"/>
          </svg>
    <span> DiscoverUR Feedback</span>     
</a>
</div>
      